/* ---- reset ---- */
* {
  margin: 0;
}

.job {
  border-top: 1px solid;
}

.svg {
  width: 35%;
}

#svg-1 {
  top: 12rem;
  left: 1rem;
}

#svg-2 {
  bottom: 9rem;
  right: 2rem;
}

.back-square {
  width: 17rem;
  height: 25rem;
  position: absolute;
  background-color: #ed8936;
  z-index: 0;
  opacity: 0.15;
}

.logo {
  height: 2rem;
  margin: 0 0.25rem;
  filter: saturate(25%);
}

.logo-anim {
  transition: all 0.2s ease-in-out;
}

.logo-anim:hover {
  /* transition-duration: 200ms; */
  filter: saturate(1);
  transform: rotate(15deg);
}

@media (min-width: 1024px) {
  .logo {
    height: 5rem;
    margin: 0 1rem;
    filter: saturate(25%);
  }

  .back-square {
    width: 40rem;
    height: 25rem;
    position: absolute;
    background-color: #ed8936;
    z-index: 0;
    opacity: 0.15;
  }

  .name {
    margin-top: -1.5rem;
  }

  .svg {
    width: 25%;
  }

  #svg-1 {
    top: 0;
    left: 5rem;
  }

  #svg-2 {
    bottom: 3rem;
    right: 6rem;
  }
}
