/* ---- reset ---- */
* {
  margin: 0;
}

.name {
  margin-top: -1.5rem;
}

.job {
  border-top: 1px solid;
}

.svg {
  width: 25%;
}

#svg-1 {
  top: 0;
  left: 5rem;
}

#svg-2 {
  bottom: 3rem;
  right: 6rem;
}

.back-square {
  width: 40rem;
  height: 25rem;
  position: absolute;
  background-color: #ed8936;
  z-index: 0;
  opacity: 0.15;
}
