/* ---- reset ---- */
* {
  margin: 0;
}

.job {
  border-top: 1px solid;
}

.svg {
  width: 35%;
}

#svg-1 {
  top: 12rem;
  left: 1rem;
}

#svg-2 {
  bottom: 9rem;
  right: 2rem;
}

.back-square {
  width: 17rem;
  height: 25rem;
  position: absolute;
  background-color: #ed8936;
  z-index: 0;
  opacity: 0.15;
}

.logo {
  height: 2rem;
  margin: 0 0.25rem;
  filter: saturate(25%);
}

.logo-anim {
  transition: all 0.2s ease-in-out;
}

.logo-anim:hover {
  /* transition-duration: 200ms; */
  filter: saturate(1);
  transform: rotate(15deg);
}

@media (min-width: 768px) {
  .back-square {
    width: 28rem;
    height: 25rem;
    position: absolute;
    background-color: #ed8936;
    z-index: 0;
    opacity: 0.15;
  }

  .name {
    margin-top: -1rem;
  }

  .svg {
    width: 30%;
  }

  .logo {
    height: 4rem;
    margin: 0 0.5rem;
    filter: saturate(25%);
  }
}

@media (min-width: 1024px) {
  .logo {
    height: 5rem;
    margin: 0 1rem;
    filter: saturate(25%);
  }

  .back-square {
    width: 40rem;
    height: 25rem;
    position: absolute;
    background-color: #ed8936;
    z-index: 0;
    opacity: 0.15;
  }

  .name {
    margin-top: -1.5rem;
  }

  .svg {
    width: 25%;
  }

  #svg-1 {
    top: 0;
    left: 5rem;
  }

  #svg-2 {
    bottom: 3rem;
    right: 6rem;
  }
}

@media (min-width: 2000px) {
  .text {
    font-size: xx-large;
  }

  #img1 {
    width: 37%;
  }

  #img2 {
    width: 55%;
  }

  #img-div1 {
    grid-column: span 6 / span 6;
  }

  #text-div1 {
    grid-column: span 6 / span 6;
  }
}

/* test */
#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  /* background: #000; */
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: 0.3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 100%;
  /* max-width: 300px; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color 0.1s;
}

#nav-content li a:hover {
  color: #bf7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}
